<!-- Footer fijo en el fondo -->
<footer class="px-4 py-3 border-t border-gray-700 text-xs text-gray-400 space-y-1">
  <a href="https://github.com/raulrobinson" class="block hover:text-white">Documentation</a>
  <a href="https://www.linkedin.com/in/rasysbox" class="block hover:text-white">
    Developer: <strong>Raul Bolivar Navas</strong>
  </a>
  <a href="#" class="block hover:text-white">
    Version: <strong>1.0.0</strong>
  </a>
  <p class="mt-2">© {{ getYear() }} LocalStack UI</p>
</footer>
